h1 {color:#FF7256;font-family:'Roboto Slab', serif; font-Size:40px;}
h2 {color:#6666ff;font-family:'Roboto Slab', serif; font-size:30px;}
h3{color:#6666ff;font-family:'Roboto Slab', serif; font-Size:20px;}
h4{color:#FF7256;font-family:'Roboto Slab', serif; font-Size:10px;}

p {font-family: 'Roboto Condensed', sans-serif;}

li {word wrap:break-word;font-family: 'Roboto Condensed', sans-serif; font-Size:20px; padding: 5px;}

ul{list-style-type: square;}

.p1 {color:#6666ff;font-family: 'Roboto Condensed', sans-serif;}

.image {position: relative;width: 100%; /* for IE 6 */}

.pic1{margin-top: 2px;background-image: url("logo.PNG");}


.spic1{color:#006400;
		padding-right: 100px;
		padding-top: 55px;
		font-family:'Roboto Slab', serif; 
		font-Size:70px;}


.shark{	background-image:url("sharks.png");
		width:258px;
height:358px;}

.right{float:right;}